:host {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: none;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-scroll-limit-x-max: 0px;
  background-color: #000;
}
.win-pivot-navbutton {
  transition: opacity linear 167ms;
  -webkit-transition: opacity linear 167ms;
  position: absolute;
  width: 28px;
  height: 72px;
  margin: 12px 4px 0px 4px;
  top: 0px;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 0px;
  border-width: 0px;
  cursor: pointer;
  background-color: gray;
  opacity: 0;
  font-family: "Segoe UI Symbol", "Symbols";
}
.win-pivot-headers.win-pivot-shownavbuttons .win-pivot-navbutton {
  opacity: 0.8;
}
.win-pivot-headers .win-pivot-navbutton-prev:before {
  content: "\E0E2";
}
.win-pivot-headers .win-pivot-navbutton-next:before {
  content: "\E0E3";
}
.win-pivot-navbutton-next {
  right: 0px;
}
.win-pivot-title {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 14pt;
  font-weight: 600;
  white-space: nowrap;
  margin: 12px 0 -8px 18px;
  font-family: "Open sans";
}

.win-pivot-headers {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  white-space: nowrap;
  position: relative;
}
.win-pivot-header {
  display: inline-block;
  height: 72px;
  transition: opacity linear 167ms;
  -webkit-transition: opacity linear 167ms;
}

button.win-pivot-header,
button.win-pivot-header:hover,
button.win-pivot-header:focus,
button.win-pivot-header:hover:active {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0px 9px;
  letter-spacing: 0px;
  min-height: 0;
  overflow: visible;
  max-width: none;
  min-width: 0;
  font-size: 40pt;
  font-weight: 400;
  font-family: "Open sans";
}
:host.win-pivot-locked .win-pivot-header {
  opacity: 0;
  visibility: hidden;
}
.win-pivot-header.win-pivot-header-selected,
:host.win-pivot-locked .win-pivot-header.win-pivot-header-selected {
  opacity: 1.0;
  visibility: inherit;
}
.win-pivot-viewport {
  /* Overlap the headers but not the title */
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  -ms-overflow-style: none;
  /* The following 3 styles take advantage of a Trident bug to make the viewport pannable on the header track. The viewport is extended over the
        header track space, and position: relative allows interacting with it as if the viewport was drawn over the header track.
    */
  position: relative;
}

.win-pivot-surface {
  width: 10000%;
  height: 100%;
  position: relative;
}

:host(.win-pivot-nosnap) .win-pivot-viewport {
  padding-top: 0px;
  margin-top: 0px;
  overflow: hidden;
}
:host(.win-pivot-nosnap) .win-pivot-surface {
  width: 100%;
}

.win-pivot-header {
    opacity: 0.4;
}

button.win-pivot-header,
button.win-pivot-header:hover,
button.win-pivot-header:focus,
button.win-pivot-header:hover:active {
  color: white;
}