:host  {
  position: absolute;
  bottom: 0;
  width: 100%;
  top:27px;
}

:host .win-pivot-item-content {
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 0px 19px;
}

::-webkit-scrollbar {
    background-color:transparent;
}

::-webkit-scrollbar-thumb
{
    border:1px solid rgba(220,220,220, 0.3);
}